
  
  
  
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satoshi', sans-serif;
  }
  ::selection{
    color: white;
    background: #0b25b7;
  }



nav{
    
    width: 100%;
    padding: 10px 0;
    z-index: 12;
  }
  nav .menu{
    max-width: 1250px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .header-logo {
    top: 0rem;
    height: 100px;
   
  }
  
  .header-logo>img {
    height: 100px;
    
  }
  
  
  
  .menu ul{
    display: inline-flex;
  }
  .menu ul li{
    list-style: none;
    margin-left: 7px;
  }
  .menu ul li:first-child{
    margin-left: 0px;
  }
  .menu ul li a{
    text-decoration: none;
    color: #0b25b7;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .menu ul li a:hover{
    background: #0b25b7;
    color: white;
  }

  

 
  


  .cc {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    column-gap: var(--gutter);
    place-content: center;
    margin: 0 auto;
    padding-top: calc(var(--grid-margin) + 20px);
    margin-bottom: var(--size-1000) !important;
}

.cc-video {
    margin-top: 10rem;
    object-fit: cover;
    width: 100%;
    height: calc(100vh - 4rem);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

}




.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  grid-auto-rows: minmax(100px, auto);
  justify-content: center;
  align-items: center;
  
}
.one {
  grid-column: 1 ;
 
}
.two {
  grid-column: 2 ;

}
.three {
  grid-column: 3;
  
}





.container {
  position: relative;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80%;
  
  
}

.image {
  display: block;
  width: 60%;
  height: auto;
  border-radius: 30px;
  margin-left: 10%;
}

.overlay {
  position: absolute;
  width: 60%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #0b25b7;
  border-radius: 30px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: #FFCE00;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}



section.entertain{
  text-align:center;
  width: 100%;
  height: 90%;
  display:block;
  color: #0b25b7;
  font-size: larger;
  padding: 50px 0px;
  background-color: rgba(215,228,242,1);
  
  
background-position: center;
  background-size: cover;
}
section.entertain div{
  padding: 150px 80px ;
  font-size: larger;
  margin-top: 80px;
}

section.giftcard{
  text-align:left;
  width: 100%;
  height: 100%;
  color: #0b25b7;
  font-size: 25px;
  display: block;
  padding: 0px 50px 0px 0px;
  background-color: rgb(226, 236, 247);
}
section.giftcard .gfs{
  display:grid;
  width: 100%;
  grid-template-columns: auto auto;
  justify-content: left;
  align-items:center;
  gap: 1em;
}
/*section.giftcard .item1{
width:
}*/
section.giftcard img{
  width: 40em;
  
}
section.giftcard p{
  text-align: justify;
  
}
section.giftcard span{
  font-size: large;
}








.cover {
  background-color: #0b25b7;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.cover-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 700px;
  height: 500px;
  padding: 20px;
}

h1 {
  color: rgba(215,228,242,1);
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 0;
  font-family: "Brice", sans-serif;

}

h2 {
  color: #0b25b7;
  font-size: 60px;
  font-weight: bolder;
  margin-bottom: 0;
  font-family: "Brice", sans-serif;

}

p {
  color: #0b25b7;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 0;
  font-family: "Satoshi", sans-serif;

}


.cover-left p {
  color: rgba(215,228,242,1);
  font-size: 20px;
}

.cover-button {
  text-decoration: none;
  font-weight: 600;
  font-family: "Satoshi", sans-serif;
  color: #0b25b7;
  background-color: #FFCE00;
  border: none;
  border-radius: 50px;
  padding: 7px 25px;
  width: 300px;
  height: 50px;

}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 26px;
  width: 500px;
  font-weight: bold;
}

.cover-button:hover {
  color: #FFCE00;
  background-color: #eff0f4;
  transform: translateY(-2px);
  box-shadow: -1px 8px 16px 0px #11171f;
}